h1 {
    color: #fff;
  }

  .fontStyle {
    color: #f36273;
    font-size: medium;
  }

  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #f0f0f0;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
  }

  .login-box h2 {
    margin: 0 0 2rem;
    padding: 0;
    color: #f36273;
    text-align: center;
  }

  .login-box p {
    margin: -1rem 0 2rem;
    padding: 0;
    color: #2a9c9d;
    text-align: center;
    font-size: medium;
  }

  .login-box .user-box {
    position: relative;
  }

  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #2a9c9d;
    outline: none;
    background: transparent;
  }

  .login-box .user-box .password-input-container {
    display: flex;
    align-items: center;
  }

  .login-box .user-box .password-input-container input {
    flex: 1;
  }

  .password-icon {
    margin-left: 10px;
    color: #050505;
    cursor: pointer;
  }

  @media screen and (max-width: 480px) {
    .login-box {
      width: 100%;
      padding: 20px;
    }

    .login-box .user-box {
      margin-bottom: 20px;
    }
  }

  button{
    background-color: #2a9c9d;
    color: #f0f0f0;
    cursor: pointer;
    border: none;
    padding: 12px 25px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    border-radius: 12px;
  }

  button:hover{
    background-color: #f36273;
    color: #f0f0f0;
  }

  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: #f0f0f0;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
  }